/*
 * Fonts
 */

@font-face {
    font-family: "fakt";
    src: url("../fonts/FaktPro-Normal.woff") format('woff');
  }
  
  @font-face {
    font-family: "fakt";
    src: url("../fonts/FaktPro-NormalItalic.woff") format('woff');
    font-style: italic;
  }
  
  @font-face {
    font-family: "fakt-light";
    src: url("../fonts/FaktPro-Blond.otf") format('opentype');
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "fakt-sb";
    src: url("../fonts/FaktPro-SemiBold.woff") format('woff');
    font-weight: bold;
  }