html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Breakpoints */
/*Fonts*/
/*Colors*/
/*Borders*/
/*No Styling*/
/*Margins*/
/*Text Styles*/
/*import page styles*/
/* Breakpoints */
/*Fonts*/
/*Colors*/
/*Borders*/
/*No Styling*/
/*Margins*/
/*Text Styles*/
html, body {
  width: auto !important;
  overflow-x: hidden !important; }

.sp-work-header {
  margin-bottom: 1em;
  padding: 0; }
  .sp-work-header img {
    padding: 0;
    width: 100%; }

.section-intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  font-family: fakt-light;
  font-size: 22px;
  text-align: center;
  margin-top: 0.5em; }
  .section-intro:last-child {
    margin-right: 0; }
  @media screen and (max-width: 53.75em) {
    .section-intro {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%; }
      .section-intro:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 31.25em) {
    .section-intro {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%;
      padding-right: 0.5em;
      padding-left: 0.5em; }
      .section-intro:last-child {
        margin-right: 0; } }

.work-split {
  padding: 0.5em 1.2em; }
  .work-split .sp-split {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding: 0; }
    .work-split .sp-split:last-child {
      margin-right: 0; }
    @media screen and (max-width: 53.75em) {
      .work-split .sp-split {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%;
        margin-left: 0%; }
        .work-split .sp-split:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 31.25em) {
      .work-split .sp-split {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%; }
        .work-split .sp-split:last-child {
          margin-right: 0; } }
    .work-split .sp-split p {
      font-family: fakt-light;
      font-size: 22px;
      text-align: center;
      margin-top: 0.5em; }
  .work-split .work-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-top: 0em;
    font-family: fakt-light; }
    .work-split .work-area:last-child {
      margin-right: 0; }
    @media screen and (max-width: 31.25em) {
      .work-split .work-area {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .work-split .work-area:last-child {
          margin-right: 0; } }
    .work-split .work-area p {
      font-size: 17px;
      text-align: center; }
      @media screen and (max-width: 31.25em) {
        .work-split .work-area p {
          text-align: left; } }
      .work-split .work-area p a {
        border-bottom: 1px dotted black;
        color: black; }
        .work-split .work-area p a:hover {
          border-bottom: 1px dotted #25A7E2;
          color: #25A7E2;
          text-decoration: none; }
    .work-split .work-area h2 {
      font-size: 22px;
      text-align: center; }

.capabilities {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  font-family: fakt-light;
  padding: 0 1.2em;
  text-align: center; }
  .capabilities:last-child {
    margin-right: 0; }
  @media screen and (max-width: 53.75em) {
    .capabilities {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%; }
      .capabilities:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 31.25em) {
    .capabilities {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%;
      text-align: left; }
      .capabilities:last-child {
        margin-right: 0; } }
  .capabilities p {
    font-size: 17px; }

.capability-detailed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: white;
  margin-top: 1em; }
  .capability-detailed:last-child {
    margin-right: 0; }

.expander-hidden {
  display: none; }

.capability-area {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  font-family: fakt-light;
  padding: 0 1.2em;
  margin-top: 2em; }
  .capability-area:last-child {
    margin-right: 0; }
  @media screen and (max-width: 31.25em) {
    .capability-area {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .capability-area:last-child {
        margin-right: 0; } }
  .capability-area p {
    font-size: 17px;
    text-align: center; }
    @media screen and (max-width: 31.25em) {
      .capability-area p {
        display: none; } }
  .capability-area ul {
    margin-left: 0;
    padding-left: 0; }
  .capability-area li {
    font-size: 17px;
    margin-bottom: 0.8em;
    list-style-type: none; }
    @media screen and (max-width: 53.75em) {
      .capability-area li {
        font-size: 14px; } }
    @media screen and (max-width: 31.25em) {
      .capability-area li {
        font-size: 17px; } }
  .capability-area h1 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 0.25em; }

.project-area .area-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-family: fakt-light;
  padding-top: 1em;
  margin-bottom: 1em; }
  .project-area .area-header:last-child {
    margin-right: 0; }
  .project-area .area-header .area-icon {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    padding-top: 1em; }
    .project-area .area-header .area-icon:last-child {
      margin-right: 0; }
    .project-area .area-header .area-icon img {
      width: 100%; }
  .project-area .area-header .area-title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    padding-left: 1.2em; }
    .project-area .area-header .area-title:last-child {
      margin-right: 0; }
    .project-area .area-header .area-title h1 {
      font-size: 33px;
      font-family: fakt-light; }
    .project-area .area-header .area-title p {
      font-size: 17px; }

.section-title {
  padding-left: 1.2em;
  margin-bottom: 2em;
  text-align: center; }
  .section-title h1 {
    font-family: fakt-light;
    font-size: 27px; }

.area-cards .cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.bottom-card-layer {
  padding-bottom: 2em; }

.card {
  -webkit-flex-basis: 10em;
  -moz-flex-basis: 10em;
  flex-basis: 10em;
  -ms-flex-preferred-size: 10em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #b7b7b7;
  max-width: 20em;
  background-color: white;
  margin: 0 1em 1.5em 1em;
  position: relative;
  border-bottom: 3px solid #b7b7b7;
  font-family: fakt-light; }
  @media screen and (max-width: 53.75em) {
    .card {
      -webkit-flex-basis: 40em;
      -moz-flex-basis: 40em;
      flex-basis: 40em;
      -ms-flex-preferred-size: 40em;
      max-width: 80em; } }
  .card .card-title {
    padding: 1em 1.25em 0 1.25em; }
    .card .card-title p {
      font-size: 17px;
      color: grey; }
  .card .card-template {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
    font-size: 22px;
    line-height: 1.5em;
    padding: 0.16667em 0.75em;
    height: 8.25em; }
    @media screen and (max-width: 53.75em) {
      .card .card-template {
        height: 6.75em; } }
  .card .card-examples, .card .card-email {
    line-height: 1.5em;
    padding: 0.5em 1.25em; }
    .card .card-examples p, .card .card-email p {
      margin: 0 0 0.75em;
      font-size: 17px;
      line-height: 1.5em; }
      .card .card-examples p a, .card .card-email p a {
        color: #25A7E2;
        border-bottom: 1px dotted #25A7E2;
        text-decoration: none; }
  .card .card-email {
    margin-bottom: 1em; }
    .card .card-email a {
      color: #25A7E2;
      border-bottom: 1px dotted #25A7E2;
      font-size: 17px; }
      .card .card-email a:hover {
        text-decoration: none; }
  .card:focus .card-image img, .card:hover .card-image img {
    background: rgba(13, 13, 13, 0); }
  .card:active {
    background-color: white; }
    .card:active .card-header {
      background-color: white; }

.round-button {
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
  moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: none;
  padding: 5px; }

.update {
  position: absolute;
  top: 12px;
  right: 12px;
  padding-top: 7px;
  padding-left: 6px; }

.see-more-cap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  font-size: 14px;
  text-align: center; }
  .see-more-cap:last-child {
    margin-right: 0; }
  .see-more-cap a {
    font-family: fakt-light;
    font-size: 17px;
    margin-top: 2em;
    margin-bottom: 2em;
    color: black;
    border-bottom: 1px dotted black; }
    .see-more-cap a:hover {
      color: #25A7E2;
      text-decoration: none;
      border-bottom: 1px dotted #25A7E2; }
    .see-more-cap a:focus {
      text-decoration: none; }

.round-button:focus {
  outline: 0; }

.round-button:disabled {
  opacity: 0.5; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@keyframes blink {
  0%, 49.9%, 100% {
    opacity: 0; }
  50%, 99.9% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0%, 49.9%, 100% {
    opacity: 0; }
  50%, 99.9% {
    opacity: 1; } }
@-moz-keyframes blink {
  0%, 49.9%, 100% {
    opacity: 0; }
  50%, 99.9% {
    opacity: 1; } }
.our-interests {
  padding: 0 1.2em; }
  .our-interests .interest-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    .our-interests .interest-area:last-child {
      margin-right: 0; }
    @media screen and (max-width: 31.25em) {
      .our-interests .interest-area {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-bottom: 0; }
        .our-interests .interest-area:last-child {
          margin-right: 0; } }
    .our-interests .interest-area p {
      font-family: fakt-light;
      font-size: 17px; }
    .our-interests .interest-area img {
      margin-bottom: 1em; }
  .our-interests ul {
    padding-left: 0;
    text-align: center; }
    .our-interests ul li {
      list-style-type: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      margin-bottom: 1em;
      padding: 0.5em;
      font-size: 17px;
      font-family: fakt-light;
      background: white;
      color: black; }
  .our-interests p {
    font-size: 22px; }

#new-project {
  color: #25A7E2; }

.email-card:hover {
  text-decoration: none;
  color: #25A7E2; }
  .email-card:hover p {
    color: #25A7E2; }

.block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 2em; }
  .block:last-child {
    margin-right: 0; }

.spee-interest {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 1.2em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .spee-interest:last-child {
    margin-right: 0; }
  .spee-interest p {
    font-family: fakt-light;
    color: black;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 17px;
    background: #cecece; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }

/*Fonts*/
/*Colors*/
/*Borders*/
/*No Styling*/
/*Margins*/
/*Text Styles*/
/*Wrapper for main page nav-bar with full screen images*/
.navbar-wrapper {
  position: absolute !important;
  z-index: 500000 !important;
  width: 100% !important;
  background: white !important; }

.carousel-link-container {
  position: absolute;
  padding: 0 1.5em !important;
  margin: auto;
  right: 0;
  bottom: 50px;
  left: 0;
  /*border: 1px solid red; */
  text-align: center; }

.carousel-link {
  font-size: 27px;
  font-family: fakt-light;
  color: black; }

.carousel-link:hover {
  opacity: 0.5;
  color: black;
  text-decoration: none; }

.about-sp {
  font-size: 22px;
  font-family: fakt-light;
  color: black;
  padding-bottom: 0.5em !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important; }

.more-about {
  font-size: 1.5em;
  font-family: fakt-light;
  color: #25A7E2;
  padding: 0 !important;
  margin: 0 !important; }

.project-thumbnail {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important; }

.recent-column {
  font-size: 22px;
  font-family: fakt-light;
  color: black;
  padding-bottom: 5px !important;
  border-bottom: 1px solid black; }

.project-description {
  font-size: 17px;
  font-family: fakt-light;
  color: black;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0.5em !important; }

.project-description a {
  color: black;
  border-bottom: 1px dotted black; }

.project-title {
  font-size: 27px;
  color: black;
  font-family: fakt-light; }

.sp-project {
  /*padding-left: 0 !important;*/ }

.button-sp {
  font-size: 17px;
  font-family: fakt-light;
  border: 1px solid #95cae2 !important;
  background: transparent !important;
  color: #25A7E2 !important; }

.button-sp:hover {
  border: 1px solid #25A7E2 !important;
  background: #25A7E2 !important;
  color: white !important; }

.project-link {
  font-size: 17px;
  font-family: fakt-light;
  color: black;
  border-bottom: 1px dotted black; }

.project-link:hover {
  color: #25A7E2;
  border-bottom: 1px dotted #25A7E2;
  text-decoration: none; }

.lg-margin-bottom {
  margin-bottom: 2.5em; }

.md-margin-bottom {
  margin-bottom: 1.5em; }

.sm-margin-bottom {
  margin-bottom: 1em; }

/* Iphone retina screens */
@media only screen and (min-width: 320px) {
  .phone-margin-bottom-sm {
    margin-bottom: 1em; }

  .phone-margin-bottom-md {
    margin-bottom: 1.5em; }

  .post-overflow {
    display: none; } }
/* Smart Phone screens */
@media only screen and (min-width: 480px) {
  .phone-margin-bottom-sm {
    margin-bottom: 1em; }

  .phone-margin-bottom-md {
    margin-bottom: 1.5em; }

  .post-overflow {
    display: none; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .post-overflow {
    display: inline; } }
