/* Fonts */
/* Colors */
/*Borders*/
/* No Styling */
body {
	font: 100% Museo-Sans, sans-serif;
}

h1 {
	margin-bottom: 5px !important;
}

h2 {
	color: #2b2b2b;
	font-weight: 500;
	font-size: 1.8em;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin: 0;
	border-bottom: 1px dashed #d8d8d8;
}

.seq-tab {
	color: black !important;
	font-weight: 500;
	font-size: 1.8em;
	border-top: 0;
	border-bottom: 1px solid red;
	margin: 0 !important;
	background: #f5f5f5;
}

.edit {
	margin-top: 0 !important;
	border-top: none !important;
	border-bottom: none !important;
	height: 100%;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.preview {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.preview-navbar {
	padding-top: 2em;
	background: white;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: 1px dashed #d8d8d8;
	border-left: none !important;
}

.active {
	background: white;
}

h3 {
	font-size: 1.3em;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	color: #707070;
}

.panel-number {
	color: #066cff;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 4.5em;
}

.panel-title {
	font-weight: 700;
	color: #707070;
	display: block;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}

.btn-success {
	border: 1px solid #066cff;
	color: #066cff;
	margin-bottom: 1em;
	background: none !important;
}

.btn-success:hover {
	border: 1px solid #074fa5;
	color: #074fa5;
	background: #e5e5e5 !important;
}

.btn-use-example {
	border: 1px solid #066cff;
	color: #066cff;
	margin-bottom: 1em;
	background: none !important;
}

.form-control {
	background: #c5dbfe;
	border: 1px solid #a8caef;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	color: black;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: black !important;
}

.btn-default {
	color: #066cff;
	border: 1px solid #066cff;
}

.btn-default:hover {
	color: white;
	background: #066cff;
	border: 1px solid #066cff;
}

.my-btn {
	border: 1px solid #066cff;
	color: #066cff;
	background: white;
	margin-bottom: 2em;
}

.my-btn:hover {
	background: #074fa5;
}

.btn-use-example:hover {
	border: 1px solid #074fa5;
	color: #074fa5;
	background: #e5e5e5 !important;
}

.panel-title-link:hover {
	text-decoration: none !important;
	opacity: 0.5;
}

.panel-title-link:active {
	text-decoration: none !important;
}

.panel-title-link:focus {
	text-decoration: none !important;
}

.panel-heading {
	border: none;
	background: white !important;
}

.panel {
	border-top: none !important;
	border-right: none !important;
	border-bottom: 2px dashed #d8d8d8 !important;
	border-left: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.panel-body {
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 5px solid #dddddd;
	border-left: 1px solid #dddddd;
	margin-bottom: 2em;
	padding: 0;
}

.panel-section {
	border-bottom: 1px dashed #d8d8d8;
}

.section-title {
	font-size: 1.3em;
	font-weight: 500;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	color: #707070;
}

.edit-panel {
	border: 1px solid #d8d8d8 !important;
	padding: 0 !important;
}

textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #a8caef;
	background: #c5dbfe;
	margin-top: 0 !important;
	font-family: courier, sans-serif;
	font-size: 1.2em;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	vertical-align: top;
	padding: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.upload-summary {
	font-size: 1.6em;
	border-top: 1px solid #066cff;
	border-right: 1px solid #066cff;
	border-bottom: 3px solid #066cff;
	border-left: 1px solid #066cff;
	padding: 1em;
	color: #066cff;
	margin-bottom: 2em;
	text-align: center;
}

.upload-error {
	font-size: 1.6em;
	border-top: 1px solid red;
	border-right: 1px solid #ff072c;
	border-bottom: 3px solid #ff072c;
	border-left: 1px solid #ff072c;
	padding: 1em;
	color: #ff072c;
	margin-bottom: 2em;
	text-align: center;
}

.upload-btn {
	font-size: 2em;
	margin: 0em 0 0.5em 0;
	color: white;
	background: #066cff;
	padding: 0.5em 1em;
	border: 0 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.upload-btn:hover {
	background: #074fa5;
}

.example-btn {
	margin-left: 1em;
	border: 1px solid #066cff;
	color: #066cff;
	font-size: 1.1em;
}

.button-group {
	margin: 15px 0 15px 15px;
}

.tab-icon {
	height: 40px;
	/* display: inline-block; */
	margin-top: -5px;
	margin-left: -5px;
}

label input[type=radio] {
	opacity: 0;
}

.preview-nav-btn {
	text-align: center;
}

.ui-slider .ui-slider-handle {
	height: 36px;
	width: 17px;
	margin-top: -10px;
}

.ui-widget-header .ui-state-default {
	background: url("../images/SVG/Slider_preview.svg");
	border: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	background: url("../images/SVG/Slider_preview.svg");
	border: 0px;
}

.slider {
	margin: 25px 5px;
}

.conservationThresholdLabel {
	font-weight: bold;
	display: inline;
}

.setting-row {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #d8d8d8;
}

.text-input {
	background: #c5dbfe;
	width: 50px;
	font-weight: 500;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #a8caef;
	font-size: 1.8em;
	margin-left: 0.5em;
	padding-left: 0.2em;
}

.text-input:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid red;
}

.submit-settings {
	text-align: center;
	margin: 0px 0px;
	border-top: 1px dashed #d8d8d8;
}

.submit-btn {
	font-size: 2em;
	margin: 1em 0 0.5em 0;
	color: white;
	background: #066cff;
	padding: 0.5em 1em;
	border: 0 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.next-btn {
	font-size: 2em;
	margin: 1em 0 1em 0;
	color: white;
	background: #066cff;
	padding: 0.5em 1em;
	border: 0 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.submit-btn:hover {
	background: #074fa5;
}

.edit-dropdown {
	border: 1px solid #a8caef;
	/*-webkit-appearance: none; */
	/*Removes default chrome and safari style*/
	/*-moz-appearance: none; */
	/*Removes default style Firefox*/
	font-size: 1.3em;
	margin-left: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	background: #c5dbfe;
	width: 93%;
}

.example-file-dropdown {
	margin-top: 20px;
}

.checkbox {
	background: #c5dbfe;
}

input[type="checkbox"].checkbox {
	-webkit-appearance: none;
	background-color: #c5dbfe;
	border: 1px solid #a8caef;
	padding: 9px;
	/*border-radius: 3px;*/
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-top: 0.4em;
	margin-right: 1em;
	vertical-align: top;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #2b2b2b;
}

.tick-box {
	background: #c5dbfe;
	width: 100px !important;
}

.edit-settings {
	color: #707070;
	font-weight: 500;
	font-size: 1.3em;
	display: inline-block;
	line-height: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.icon {
	padding-left: 50px;
}

.icon-40 {
	height: 40px
	margin-left: auto;
    margin-right: auto;
}

.hide {
	display: none;
}

.loading {
	opacity: 0.4;
	filter: alpha(opacity = 40); /* msie */
	background-color: #000;
}

.summary-heading {
	font-size: large;
}

.header {
	font-size: large;
	font-style: normal;
	font-weight: 500;
}

.header-logo {
	width: 213px;
	height: 50px;
}

.clickable {
	cursor: pointer;
}
#col-width {
	background: url("../images/SVG/col-width.svg") no-repeat;
}

#row-height {
	background: url("../images/SVG/row-height.svg") no-repeat;
}

#vertical-grid {
	background: url("../images/SVG/vertical-grid.svg") no-repeat;
}

#row-shading {
	background: url("../images/SVG/SVG/row-shading.svg") no-repeat;
}

#bundle-height {
	background: url("../images/SVG/bundle-height.svg") no-repeat;
}

#residue-width {
	background: url("../images/SVG/residue-width.svg") no-repeat;
}

#curve-radius {
	background: url("../images/SVG/curve-radius.svg") no-repeat;
}

#show-consensus {
	background: url("../images/SVG/show-consensus.svg") no-repeat;
}

#alphabet-overlay {
	background: url("../images/SVG/alphabet-overlay.svg") no-repeat;
}

#max-transparency {
	background: url("../images/SVG/min-transparency.svg") no-repeat;
}

#min-transparency {
	background: url("../images/SVG/min-transparency.svg") no-repeat;
}

#gaps {
	background: url("../images/SVG/gaps.svg") no-repeat;
}

#line-colour {
	background: url("../images/SVG/line-colour.svg") no-repeat;
}

#y-axis {
	background: url("../images/SVG/y-axis.svg") no-repeat;
}

#logo-sp {
	background: url("../images/SVG/Logo_science-practice.svg") no-repeat;
}

#preview-active {
	background: url("../images/SVG/preview-eye_active.svg") no-repeat;
}

#preview-inactive {
	background: url("../images/SVG/preview-eye.svg") no-repeat;
}

#settings-active {
	background: url("../images/SVG/Settings-pencil_active.svg") no-repeat;
}

#settings-inactive {
	background: url("../images/SVG/Settings-pencil.svg") no-repeat;
}