.done-true {
	text-decoration: line-through;
	color: grey;
}

li {
	list-style-type: none;
}

ul {
	padding-left: 20px;
}

.center {
	text-align: center;
	clear: both;
}

.left {
	float: left;
	display: inline;
	padding: 25px 50px
}

.right {
	float: right;
	display: inline;
}

.box {
	float: left;
	display: inline;
	padding: 5px 10px;
	margin: 5px 5px;
	border-style: solid;
	border-width: 1px;
}

.scrolly {
	overflow-x: auto;
}

.upload-minimize-button-col {
	border-bottom: 1px dashed rgb(216, 216, 216);
	margin-left: -15px;
	border-right-style: solid;
	padding-bottom: 8px;
	padding-top: 8px;
	border-right-width: 0px;
}

.moreInfoQuestionIcon {
	margin-top: 16px;

}
/* #loading {
  width: 1064px;
  height: 500px;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  } */
  .loading-image {
  	position: relative;
  	z-index: 2;
  	top: 250px;
  	/* left: 500px; */
  }